* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: #0b0b14;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 900px;
    height: 500px;
    display: flex;
    border-radius: 18px;
    overflow: hidden;
  
}

.left-panel {
    width: 45%;
    background:  linear-gradient( 160deg, #612cbc, #4648e9);
    filter: saturate(0.9);
    padding: 60px 40px;
    color: rgb(210, 210, 210);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}

.left-panel h1 {
    font-size: 36px;
    margin-bottom: 8px;
}

.line {
    width: 80px;
    height: 4px;
    background: white;
    margin-bottom: 25px;
}

.left-panel p {
    font-size: 14px;
    opacity: 0.9;
}

.right-panel {
    width: 55%;
    background: #2e2e2e;
    position: relative;
    overflow: hidden;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 60px;
    color:rgb(210, 210, 210);

    transform: translate(120%, -120%) rotate(30deg);
    opacity: 0;
    filter: blur(12px);

    transition:
        transform 0.8s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.8s ease,
        filter 0.8s ease;
}

.content h2 {
    margin-bottom: 25px;
}

.content.active {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
    filter: blur(0);
}


.content.exit {
    transform: translate(-120%, 120%) rotate(-30deg);
    opacity: 0;
    filter: blur(14px);
}

.content input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    margin-top: 8px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    color:rgb(210, 210, 210);
    outline: none;
}

.content button {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(90deg, #7f3cff, #a855f7);
   color:rgb(210, 210, 210);
    cursor: pointer;
    font-weight: 600;
    transition: all 0.35s ease;
}

.content button:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 0 8px rgba(168, 85, 247, 0.9);
}


.switch {
    margin-top: 20px;
    font-size: 14px;
    color: #a855f7;
    cursor: pointer;
}
/* 

@media (max-width: 900px) {
    .container {
        width: 95%;
        height: auto;
        flex-direction: column;
    }

    .left-panel {
        width: 100%;
        clip-path: none;
        text-align: center;
    }

    .right-panel {
        width: 100%;
        height: 420px;
    }

    .content {
        padding: 40px;
    }
}

@media (max-width: 480px) {
    .left-panel h1 {
        font-size: 28px;
    }

    .content {
        padding: 30px;
    }
}  */  
